# -*- coding: utf-8 -*-
# vim: ft=jinja:ts=2:sw=2

{%- set os         = salt['grains.get']('os') %}
{%- set osrelease  = salt['grains.get']('osrelease') %}
{%- set osmajorrelease  = salt['grains.get']('osmajorrelease') %}
{%- set oscodename = salt['grains.get']('oscodename') %}

{## Start with  defaults from defaults.sls ##}
{% import_yaml "owncloud/defaults.yaml" as default_settings %}

{## Merge in owncloud pillar ##}
{% set owncloud = salt['pillar.get'](
  'owncloud',
  default=default_settings.owncloud,
  merge=True)
%}

{## 
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
  'Debian': {
    'packages': ['owncloud-files'],
    'packages_deps': ['apache2', 'mariadb-server', 'libapache2-mod-php7.0', 'php7.0-gd', 'php7.0-json', 'php7.0-mysql', 'php7.0-curl', 'php7.0-intl', 'php7.0-mcrypt', 'php-imagick', 'php7.0-zip', 'php7.0-xml', 'php7.0-mbstring', 'php7.0-ldap', 'php-smbclient', 'php-apcu', 'php-redis', 'redis-server'],
    'service': 'apache2',
    'repo': {
      'name': 'deb http://download.owncloud.org/download/repositories/' ~ owncloud.version ~ '/' ~ os ~ '_' ~ osmajorrelease ~ '.0' ~ '/ /',
      'file': '/etc/apt/sources.list.d/owncloud.list',
      'key_url': 'https://download.owncloud.org/download/repositories/' ~ owncloud.version ~ '/' ~ os ~ '_' ~ osmajorrelease ~ '.0' ~ '/Release.key ',
    },
    'user': {
      'name': 'www-data',
      'group': 'www-data',
    },
    'config_file': '/var/www/owncloud/config/config.php'
  },
}, grain='os_family', merge=salt['pillar.get']('owncloud:lookup')) %}


{## Merge the flavor_map to the default settings ##}
{% do owncloud.update(os_family_map) %}

