# -*- coding: utf-8 -*-
# vim: ft=jinja:ts=2:sw=2

{%- set os = salt['grains.get']('os') %}
{%- set osrelease = salt['grains.get']('osrelease') %}
{%- set osmajorrelease = salt['grains.get']('osmajorrelease') %}
{%- set oscodename = salt['grains.get']('oscodename') %}

{## Start with  defaults from defaults.sls ##}
{% import_yaml "owncloud/defaults.yaml" as default_settings %}

{## Merge in owncloud pillar ##}
{% set owncloud = salt['pillar.get'](
  'owncloud',
  default=default_settings.owncloud,
  merge=True)
%}

{##
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
  'Debian': {
    'packages': ['owncloud-files'],
    'optional_packages': salt['grains.filter_by']({
        'bionic': ['ffmpeg', 'libreoffice'],
        'stretch': ['ffmpeg', 'libreoffice'],
    }, grain="oscodename", default="stretch"),
    'service': 'apache2',
    'repo': {
      'name': salt['grains.filter_by']({
          'Debian': 'deb http://download.owncloud.org/download/repositories/' ~ owncloud.version ~ '/' ~ os ~ '_' ~ osmajorrelease ~ '.0' ~ '/ /',
          'Ubuntu': 'deb http://download.owncloud.org/download/repositories/' ~ owncloud.version ~ '/' ~ os ~ '_' ~ osrelease ~ '/ /',
      }, grain="os", default="Debian"),
      'key_url': salt['grains.filter_by']({
          'Debian': 'https://download.owncloud.org/download/repositories/' ~ owncloud.version ~ '/' ~ os ~ '_' ~ osmajorrelease ~ '.0' ~ '/Release.key ',
          'Ubuntu': 'https://download.owncloud.org/download/repositories/' ~ owncloud.version ~ '/' ~ os ~ '_' ~ osrelease ~ '/Release.key ',
      }, grain="os", default="Debian"),
      'file': '/etc/apt/sources.list.d/owncloud.list',
    },
    'user': {
      'name': 'www-data',
      'group': 'www-data',
    },
    'config_file': '/var/www/owncloud/config/config.php'
  },
}, grain='os_family', merge=salt['pillar.get']('owncloud:lookup'), default='Debian') %}


{## Merge the flavor_map to the default settings ##}
{% do owncloud.update(os_family_map) %}
