{%- from "owncloud/map.jinja" import owncloud with context -%}
<?php
$CONFIG = array (
  'updatechecker' => false,
  'instanceid' => 'oclw2oi9sjes',
  'passwordsalt' => 'U6mrl1rxWxNvQh/SBvjy4WyPdDKewP',
  'secret' => 't9iPo1mMdP06/fMqqSN540QWdbF8kXFm7SdkHd0xb8Hh07SL',
  'trusted_domains' => 
  array (
    {%- for domain in owncloud.trusted_domains %}
    {{loop.index0}} => '{{domain}}',
    {%- endfor %}
  ),
  'datadirectory' => '{{owncloud.data_dir}}',
  'overwrite.cli.url' => 'http://owncloud.yopyop.fr/owncloud',
  'dbtype' => '{{owncloud.database.type}}',
  'version' => '10.0.3.3',
  'dbname' => '{{owncloud.database.name}}',
  'dbhost' => '{{owncloud.database.host}}',
  'dbtableprefix' => 'oc_',
  'dbuser' => '{{owncloud.database.user}}',
  'dbpassword' => '{{owncloud.database.password}}',
  'logtimezone' => 'UTC',
  'installed' => true,
  'mail_from_address' => 'owncloud',
  'mail_smtpmode' => 'php',
  'mail_domain' => '{{salt['grains.get']('domain', 'local')}}',
  {%- for k, v in owncloud.memcache.items() %}
  'memcache.{{k}}' => '{{v}}',
  {%- endfor %}
  'redis' => array(
      'host' => '{{owncloud.redis.host}}',
      'port' => {{owncloud.redis.port}},
       ),
);
